.car {
  width: 100%;
  border: 2px solid black;
  //padding: 10px;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 2em;
  background-color: rgb(243, 243, 243);
  animation: fade-in-down 2s ease 1;
}

.active-true li.sold {
  display: none;
}

.active-false li.sold {
  display: show;
}

.active-false button.learn-more {
  //position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  // width: 100%; /* Full width (cover the whole page) */
  // height: 100%; /* Full height (cover the whole page) */
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  //z-index: 3;
  //background-color: rgba(182, 151, 151, 0.5); /* Black background with opacity */
}

.car:hover {
  box-shadow: 10px 10px 5px #a0a1a9;
}

.car-image {
  width: 20em;
}
.car-info {
  width: 100%;
}

.car-info h3 {
  margin: 1.5em 0px 1.5em 0px;

}

.car-details {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.car-details ul {
  list-style-type: none;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
