.car {
  width: 100%;
  border: 2px solid black;
  //padding: 10px;
  margin-bottom: 1.5em;
  display: flex;
  gap: 2em;
}

.car:hover {
  box-shadow: 10px 10px 5px #c3c5cd;
}

.car-image {
  width: 300px;
}
