.car {
  width: 100%;
  border: 2px solid black;
  //padding: 10px;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 2em;
  background-color: rgb(243, 243, 243);
  animation: fade-in-down 2s ease 1;
}

.car:hover {
  box-shadow: 10px 10px 5px #a0a1a9;
}

.car-image {
  width: 20em;
}
.car-info {
  width: 100%;
}

.car-info h3 {
  margin: 1.5em 0px 1.5em 0px;

}

.car-details {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.car-details ul {
  list-style-type: none;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
