.car {
  width: 100%;
  border: 2px solid black;
  //padding: 10px;
  margin-bottom: 1.5rem;
  display: flex;
  gap: 2em;
  background-color: rgb(243, 243, 243);
  animation: fade-in-down 2s ease 1;
}

.active-true li.sold {
  display: none;
}

.active-false li.sold {
  display: show;
  font-size: 2rem;
  font-weight: 500;
  color:rgb(188, 24, 24)
}

.active-false button.learn-more {
  //position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  // width: 100%; /* Full width (cover the whole page) */
  // height: 100%; /* Full height (cover the whole page) */
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  //z-index: 3;
  //background-color: rgba(182, 151, 151, 0.5); /* Black background with opacity */
}

.active-false button.mark-sold-button, active-false form.mark-sold {
  display: none;
}


active-false button.add-fav-button, active-false form.add-fav {
  display: none;
}

// active-false form.mark-sold {
//   display: none;
// }

.car:hover {
  box-shadow: 10px 10px 5px #a0a1a9;
}

.car-image {
  width: 20em;
}
.car-info {
  width: 100%;
  padding-top: 2rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.car-info h3 {
  margin-bottom: 1.5em;

}

.car-details {
  width: 90%;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.car-details ul {
  list-style-type: none;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

//Car actions
.car-actions ul li {
  margin-bottom: .6rem;
}
// .car-actions ul {
//   display: flex;
//   flex-direction: column;
//   gap: .5rem;
//   justify-content: flex-end;
// }
