.page-header {
  margin-bottom: 2em;
  height: 30em;
  background-image: url("https://i.ibb.co/8bRFWxD/header-image-600h.jpg");
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-size: cover;
}

.header-links {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin-bottom: 6em;
}

.header-links > li {
  padding: 2em 0px 2em 0px;
  color: white
}

.header-links > li:hover {
  padding: 2em 0px 2em 0px;
  color: rgb(230, 226, 255);
  // text-decoration: underline;
}

.page-title {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  color: white;
  gap: 2em;
}

.page-title h1 {
  font-size: 3em;
}

// .page-title h1 {
//   align-self: center;
// }
