.page-header {
  margin-bottom: 2rem;
  height: 30rem;
  background-image: url("https://i.ibb.co/8bRFWxD/header-image-600h.jpg");
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-size: cover;
  padding-top: 2rem;
}

.header-links {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  //margin-top: 2rem;
  margin-bottom: 6rem;
}

.header-links > li {
  //padding: 2rem 0px 2rem 0px;
  color: white
}

.header-links > li:hover {
  //padding: 2rem 0px 2rem 0px;
  color: rgb(230, 226, 255);
  // text-decoration: underline;
}

.page-title {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  color: white;
  gap: 2rem;
  padding-top: 3rem;
}

.page-title h1 {
  font-size: 3rem;
}

.page-title h1 {
  animation: fade-in-down 2s ease 1;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.page-title h2 {
  animation: fade-in-down 5s ease 1;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  animation: fade-in 2s linear 1;
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

// .page-title h1 {
//   align-self: center;
// }
