.page-header {
  height: 30em;
  background-image: url("https://i.ibb.co/8bRFWxD/header-image-600h.jpg");
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-size: cover;
}

.header-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.header-links > li {
  padding: 20px 0px 20px 0px;
}
