// See: https://sass-lang.com/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: rgb(203, 222, 237);
  font-family: 'Blinker', sans-serif;
}

#main-content {
  max-width: 90%;
  margin: auto;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
}
// #cars-container {
//   max-width: 80%;
//   margin: auto;
// }
button {
  font-family: 'Blinker', sans-serif;
  padding: 8px;
}

//Filter car form

#filter-car-form {
  margin-bottom: 2rem;
  display: flex;
  gap: .5rem;
  align-items: flex-end;
  animation: fade-in-down 2s ease 1;
  //justify-content: space-between;
}

.filter-title {
  animation: fade-in-down 2s ease 1;
}

#error-message h3 {
  animation: fade-in-down 2s ease 1;
}



// #filter-car-form button {
//   padding: 1rem;

// #filter-car-form input {
//   height: 2rem;
// }

.clear-filter:hover {
  //padding: 2rem 0px 2rem 0px;
  color: rgb(117, 112, 147);
  // text-decoration: underline;
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 992px) {

  //page header
  #page-header .header-links {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0rem;
  }

  #page-header .header-links > li {
    padding: .3rem 0px .3rem 0px;
  }

  #page-header .page-title {
    padding-top: 2rem;
  }

  //car element
  .car {
    flex-direction: column;
    gap: 1rem;
  }

  .car-image {
    width: 100%
  }

  .car-info {
    padding: 1rem;
  }

  .car-details {
    width: 100%
  }

  //message element
  .message {
    flex-direction: column;
  }

  //single car page
  .single-car {
    flex-direction: column;
    gap: 1rem;
  }

  .single-car .single-car-info {
    padding: 2rem;
    width: 100%;
    margin: auto;
  }

  // .single-car .single-car-details {
  //   width: 100%;
  // }

  // .single-car img {
  //   width: 100%;
  // }
}
