// See: https://sass-lang.com/

body,
html {
  margin: 0;
  background-color: rgb(247, 251, 254);
  box-sizing: border-box;
  font-family: 'Blinker', sans-serif;

}
*,
*:before,
*:after {
  box-sizing: inherit;
}

#main-content {
  max-width: 90%;
  margin: auto;
}

// #cars-container {
//   max-width: 80%;
//   margin: auto;
// }
